* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--mainBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: var(--mainFontColor);
}

.large-font {
  line-height: 120px;
  font-size: var(--largeFont);
}

.big-font {
  font-size: var(--bigFont);
}

.big-font2 {
  color: var(--mainInverseFontColor);
  font-size: var(--bigFont);
}

.medium-font {
  font-size: var(--mediumFont);
}

.small-font {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--mainFontColor);
}

.small-font2 {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--mainInverseFontColor);
}

.small-font-gray {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--subFontColor);
}

.tiny-font {
  font-size: var(--smallFont);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li {
  color: var(--mainFontColor);
  text-decoration: none;
  list-style: none;
}

.btn-font {
  font-size: var(--btnFont);
  font-weight: 400;
}

.btn-font {
  font-size: var(--btnFont);
  font-weight: 400;
}

.small-font-sub {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--subFontColor);
}

.font-color-inverse {
  color: var(--mainInverseFontColor);
}

.underline {
  text-decoration: underline;
}

.highlight {
  font-weight: 700;
}

.highlight-2 {
  font-weight: 600;
}

.highlight-main {
  color: var(--mainColor);
  font-weight: 700;
}

.highlight-main2 {
  color: var(--secColor);
  font-weight: 700;
}

.btn {
  cursor: pointer;
  padding: 1.1rem 1.4rem;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  color: white;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  width: fit-content;
  padding: 1.1rem 1.4rem;
  background-color: transparent;
  color: black;
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.btn-lang {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  background-color: var(--mainColor);
  border: none;
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  border: 2px solid var(--mainColor);
  color: white;
}

.btn-line {
  cursor: pointer;
  width: fit-content;
  padding: 1.1rem 1.4rem;
  background-color: transparent;
  color: var(--mainFontColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.btn-line:hover {
  cursor: pointer;
  padding: 1.1rem 1.4rem;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  color: white;
  transition: 0.5s ease-in-out;
}

.btn-line2 {
  cursor: pointer;
  width: fit-content;
  padding: 0.4rem 0.7rem;
  background-color: transparent;
  color: var(--mainFontColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.btn-line2:hover {
  background-color: var(--mainColor);
  color: white;
}

@import './nav.css';
@import './footer.css';
@import './model.css';
@import './hero.css';
@import './skills.css';
@import './variables.css';
@import './projects.css';
@import './works.css';
@import './myself.css';
@import './contact.css';
@import './guides.css';
@import './query.css';

.btn-cookie {
  cursor: pointer !important;
  padding: 0.6rem 0.9rem !important;
  background-color: var(--mainColor) !important;
  border-radius: var(--radius) !important;
  font-size: var(--smallFont) !important;
  font-weight: 600 !important;
  color: white !important;
}

.del {
  text-decoration: line-through;
}

.model {
  --poster-color: transparent;
  --progress-bar-height: 1rem;
  --progress-bar-color: #372dbd !important;
}

.block {
  z-index: 4;
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--mainInverseBackground);
  height: 100%;
  width: 100%;
  color: #333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
