* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--mainBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: var(--mainFontColor);
}

.large-font {
  font-size: var(--largeFont);
}

.big-font {
  font-size: var(--bigFont);
}

.medium-font {
  font-size: var(--mediumFont);
}

.small-font {
  font-size: var(--smallFont);
  font-weight: 400;
}

.tiny-font {
  font-size: var(--smallFont);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--mainFontColor);
}

li {
  color: var(--mainFontColor);
  text-decoration: none;
  list-style: none;
}

.btn-font {
  font-size: var(--btnFont);
  font-weight: 400;
}

.small-font-sub {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--subFontColor);
}

.font-color-inverse {
  color: var(--mainInverseFontColor);
}

.underline {
  border-bottom: 3px solid;
}

.highlight-2 {
  font-weight: 600;
}

.highlight {
  font-weight: 700;
}

.highlight-main {
  color: var(--mainColor);
  font-weight: 700;
}

.btn {
  cursor: pointer;
  padding: 1.1rem 1.4rem;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  color: white;
}

.btn-lang {
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  background-color: var(--mainColor);
  border: none;
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
  color: white;
}

.btn-line {
  cursor: pointer;
  width: fit-content;
  padding: 1.1rem 1.4rem;
  background-color: transparent;
  color: var(--mainFontColor);
  border: 2px solid var(--mainColor);
  border-radius: var(--radius);
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

@import './nav.css';
@import './footer.css';
@import './model.css';
@import './hero.css';
@import './skills.css';
@import './variables.css';
