.cnt-hero {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-1 {
  grid-column: 1 / 2;
  margin-left: 6rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  padding-right: 60%;
}

.hero-2 {
  grid-column: 2 / 3;
}

.hero-1 h1 {
  margin-bottom: 3rem;
}

.hero-1 p {
  margin-bottom: 1.5rem;
}

.ico-cnt {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-btn {
  display: flex;
  flex-direction: rows;
  gap: 2rem;
}
