.cnt-hero {
  display: grid;
  grid-template-columns: 40% 60%;
}

.hero-1 {
  grid-column: 1 / 2;
  margin-left: 6rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  padding-right: 60%;
}

.hero-1-2 {
  grid-column: 1 / 2;
  margin-left: 6rem;
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-1-2 p {
  margin-bottom: 1.5rem;
}

.hero-1-2 h1 {
  margin-bottom: 2rem;
}

.hero-2 {
  grid-column: 2 / 3;
}

.hero-1 h1 {
  margin-bottom: 2rem;
}

.hero-1 p {
  margin-bottom: 1.5rem;
}

.ico-cnt {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-btn {
  display: flex;
  flex-direction: rows;
  gap: 2rem;
}

.score-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 7rem 3rem;
}

.blur {
  border-radius: 50rem;
  -webkit-box-shadow: 0px 0px 45px 20px rgba(12, 206, 107, 0.48);
  box-shadow: 0px 0px 45px 20px rgba(12, 206, 107, 0.48);
}

.score-title-cnt {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.score-title-cnt h2 {
  margin-bottom: 1rem;
}

.why-me-card-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-me-cnt {
  margin-top: 4rem;
}

.why-me-cnt h2 {
  text-align: center;
}

.why-card-cnt {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

.why-card {
  min-height: 12rem;
  width: 19rem;
  padding: 1rem;
  border-radius: var(--radius);
  background: var(--mainBackgroundNav);
}

.ico-title-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
