.cnt-hero {
  display: flex;
  flex-direction: row;
}

.cnt-hero div:nth-child(1) {
  background-color: aqua;
  flex: 1 1 25%;
}

.cnt-hero div:nth-child(2) {
  background-color: bisque;
  flex: 1 1 50%;
}

.cnt-hero div:nth-child(3) {
  background-color: chocolate;
  flex: 1 1 25%;
}
