.projects-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-img {
  cursor: pointer;
  border-radius: var(--radius);
  width: 60vw;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.38);
  transition: 0.7s ease-in-out;
}

.project-img:hover {
  -webkit-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.58);
  transform: scale(1.05);
}

.modal-cnt {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.438);
}

.modal {
  padding: 2rem;
  position: relative;
  width: 80vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.qr-code {
  align-self: center;
  margin: 1rem 0rem;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: var(--mainBackground);
}

.list-project {
  display: flex;
  flex-direction: column;
}

.list-project img {
  margin-left: 0.7rem;
}

.list-project li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-title-cnt {
  padding: 4rem 6rem;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: row;
}

.project-title-cnt > *:nth-child(1) {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title-cnt > *:nth-child(2) {
  flex: 1 1 30%;
}

.cannolo {
  border-radius: var(--radius);
}

.pro-card-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.pro-card {
  width: 8rem;
}
