@media only screen and (max-width: 650px) {
  /*************************************************** PROJCT START */

  .project-title-cnt {
    padding: 4rem 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .project-title-cnt > *:nth-child(1) {
    margin-bottom: 1rem;
  }

  .pro-desc-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 3rem;
  }

  .cannolo {
    width: 45vw;
    height: auto;
  }

  .pro-desc-cnt > *:nth-child(1) {
    flex: 1 1 50%;
    padding-right: 0rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pro-desc-cnt > *:nth-child(2) {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other-pro {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  /*************************************************** PROJCT END */
}

@media only screen and (max-width: 350px) {
  /*************************************************** PROJCT START */
  .project-title-cnt {
    padding: 4rem 2rem;
  }
  /*************************************************** PROJCT END */
}
