:root {
  --mainBackground: #d8d8d8;
  --subBackground: #f8f8f8;
  --mainBackgroundNav: #f8f8f8;
  --mainInverseBackground: #1a1a1a;
  --mainColor: #372dbd;
  --secColor: #b6e92b;
  --mainFontColor: #161616;
  --mainInverseFontColor: #ebebeb;
  --subFontColor: #acacac;

  --largeFont: clamp(3rem, 5vw, 16rem);
  --bigFont: clamp(2rem, 4vw, 5rem);
  --mediumFont: clamp(1.8rem, 1.8vw, 3rem);
  --btnFont: clamp(1rem, 1.4vw, 2.2rem);
  --smallFont: clamp(0.9rem, 1.1vw, 2rem);
  --tinyFont: clamp(0.7rem, 1.2vw, 2rem);

  --radius: 7px;
  --level-two: translateZ(9rem);
  --level-three: translateZ(9rem);
}
