.projects-cnt h1 {
  margin: 5rem;
}

.works-card {
  cursor: pointer;
  background-color: var(--mainBackgroundNav);
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  -webkit-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.38);
  transition: 0.7s ease-in-out;
}

.works-card:hover {
  -webkit-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.58);
  transform: scale(1.05);
}

.modal-cnt p {
  margin-bottom: 1.5rem;
}

.left-m {
  margin-left: 0.4rem;
}

.works-cnt:hover {
  transform: scale(1.05);
}

.list-project li {
  margin-top: 0.6rem;
}

.direct-cnt h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.direct-card-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.direct-card-cnt div {
  min-height: 12.5rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--mainBackgroundNav);
  border-radius: var(--radius);
}
